body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

nav {
  height: 23px;
  overflow: hidden;
  background-color: rgb(21, 213, 226);
  
}


nav a {
  display: inline;
  color: white;
  text-align: center;
  text-decoration: none;
  padding-right: 30px;
  padding-left: 30px;
  font-size: 20px;

}

nav a:hover {
  background-color: rgb(243, 229, 229);
}

nav a.active {
  background-color: rgb(243, 229, 229);
  color: white;
}

.logout {
  background-color: black;
  color: white;

}

.logout a{
  display: inline;
  color: white;
  text-align: center;
  text-decoration: none;
  padding-right: 30px;
  padding-left: 30px;
  font-size: 20px;
}

.App{
  background-color: rgb(243, 229, 229);
}

.exercise-card{
  border: 2px dotted;
}